div .screenshot {
  width: 60%;
}

div .screenshot img {
  width:100%;
  height:auto;
}

.scroll {
  width:95%;
  position: relative;
  -webkit-animation: klikkscroll 5s infinite; /* Safari 4.0 - 8.0 */
  /*animation: klikkscroll 25s infinite;*/
  animation-duration: 50s;
  animation-name: klikkscroll;
  /*animation-iteration-count: 5;*/
  animation-timing-function: ease-out;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes klikkscroll {
    from {top: 0px;}
    to {bottom: 200px;}
}

@keyframes klikkscroll {

      5% {
        transform: translate(0px, 0px);
      }
      100% {
        /*opacity: 0; */
        transform: translate(0px, -3000px);
      }
      0% {
        opacity: 0;
      }
      4% {
        opacity: 1;
      }
      96% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
}
