div .screenshot {
  width: 60%;
  background-color: #94b8b8;
}

div .screenshot img {
  width:95%;
  height:auto;
}

.scroll {
  width:95%;
  position: relative;
  -webkit-animation: klikkscroll 60s infinite; /* Safari 4.0 - 8.0 */
  /*animation: klikkscroll 25s infinite;*/
  animation-duration: 60s;
  animation-name: klikkscroll;
  animation-delay: 2s;
  /*animation-iteration-count: 5;*/
  animation-timing-function: ease-out;
  will-change: transform, width;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes klikkscroll {
    from {top: 0px;}
    to {bottom: 200px;}
}

@keyframes klikkscroll {
      0% {
        opacity: 0;
        transform: translate(0px, 50px) scale(0);
      }
      3% {
        transform: translate(0px, 50px) scale(0.85);
        opacity:1;
      }
      96% {
        opacity: 1;
      }
      100% {
        transform: translate(0px, -90%) scale(0.85);
        opacity: 0;
      }

}
